body{
    background: #eee;
}
#frm{
    border: solid gray 1px;
    width: 20%;
    border-radius:  10px;
    margin: 100px auto;
    background: white;
}
#sbm{
    color: #fff;
    background: #337ab7;
    padding: 5px;
    margin-left: 80%;
}

body{
    display: inline-block;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

p {
    font-size: 20px;
    font-family: 'Poiret One', cursive;
}


  

  